.date {
  display:block;
  color: #303030;
  font-size: 20px;
}

.title{
  color: #1377BD;
  font-size: 16px;
  margin: 4px;
  font-weight:500;
}

.title:hover {
  text-decoration: none !important;
}

@keyframes gradientBackground {
  0% {
    background-color: #1a0984;
  }
  25% {
    background-color: #aa2e0c;
  }
  50% {
    background-color: #0f72a4;
  }
  75% {
    background-color: #ff9a9e;
  }
  100% {
    background-color: #551214;
  }
}

body {
  animation: gradientBackground 10s infinite;
}

.content{
  display:block;
  color: #303030;
  margin:4px;
  font-weight:300;
}

.container{
  max-width:750px;
}

.icon-title{
    display: flex;
    align-items: center;
}

.list {
  list-style-type:none;
}